<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCeRPPIs_KrAWtQW5d8jqi0YJNSRVgne4</string>
	<key>GCM_SENDER_ID</key>
	<string>1063427684212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.iOSBasicApp</string>
	<key>PROJECT_ID</key>
	<string>iosbasicapp</string>
	<key>STORAGE_BUCKET</key>
	<string>iosbasicapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063427684212:ios:54b90eb75fdea6f0315e21</string>
</dict>
</plist>